
version: "3.9"
services:
 mariadb:
  image: mariadb:10.11
  command: --innodb-use-native-aio=0
  environment:
   MYSQL_ROOT_PASSWORD: root
   MYSQL_DATABASE: lnd_db
  ports:
   - "3307:3306"
  healthcheck:
   test: ["CMD","mysqladmin","ping","-h","localhost","-proot"]
   interval: 10s
   retries: 10

 backend:
  build: ./backend
  ports:
   - "8080:8080"
  depends_on:
   mariadb:
    condition: service_healthy

 frontend:
  build: ./frontend
  ports:
   - "3000:80"
  depends_on:
   - backend
