name: LMS CI Pipeline

on:
  push:
    branches:
      - master

env:
  DOCKERHUB_USERNAME: gopal1409
  BACKEND_IMAGE: lms-backend
  FRONTEND_IMAGE: lms-frontend

jobs:

  build-backend:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Backend
        run: |
          cd backend
          mvn clean package -DskipTests

      - name: Build Docker Image
        run: |
          docker build -t $DOCKERHUB_USERNAME/$BACKEND_IMAGE:${{ github.sha }} ./backend

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Image
        run: |
          docker push $DOCKERHUB_USERNAME/$BACKEND_IMAGE:${{ github.sha }}


  build-frontend:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t $DOCKERHUB_USERNAME/$FRONTEND_IMAGE:${{ github.sha }} ./frontend

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Image
        run: |
          docker push $DOCKERHUB_USERNAME/$FRONTEND_IMAGE:${{ github.sha }}
